nav {
  background-color: #ff6752;

  a {
    color: #fff !important;
    font-size: 1.3rem;
  }
}

.logo-container {
  border-radius: 50%;
  background-color: #fff;
  padding: 10px;
  margin-left: 50px;
}
