/*MAIN BUTTONS*/
.btn-main {
  background: $blue 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #2c1dad29;
  border-radius: 38px;
  border-color: transparent;
  padding: 1rem 1rem;
  font-weight: bold;
  color: $white-soft;
  font-size: 1.3rem;
}
