$primary: #ff6752;

$secondary: #4d4f5c;
$secondary-medium: #707070;
$secondary-soft: #808080;

$white: #fff;
$white-medium: #f8f8f8;
$white-soft: #f8f8f8;

$background: #f3f6fb;

$blue: #4487ff;
$yellow: #ffe530;
