footer {
  position: relative;
  bottom: 0px;
  background-color: #ff6752;

  a,
  p {
    color: #fff !important;
    font-size: 1.3rem;
  }

  h5 {
    font-weight: bold;
    color: #ffe530;
  }
  li {
    margin-top: 10px;
  }
}
