<footer class="container-fluid py-5">
  <div class="row ml-5">
    <div class="col-6 col-md ml-5">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Locations</a></li>
        <li><a class="text-muted" href="#">Franchise With us</a></li>
        <li><a class="text-muted" href="#">Partners</a></li>
        <li><a class="text-muted" href="#">About US</a></li>
        <li><a class="text-muted" href="#">Make Fetch Happen! </a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Reviews</a></li>
        <li><a class="text-muted" href="#">Pet Resource Center</a></li>
        <li><a class="text-muted" href="#">Media Fact Sheet</a></li>
        <li><a class="text-muted" href="#">Blog</a></li>
        <li><a class="text-muted" href="#">News</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <ul class="list-unstyled text-small mt-3">
        <li><a class="text-muted" href="#">Gift Cards</a></li>
        <li><a class="text-muted" href="#">Services</a></li>
        <li><a class="text-muted" href="#">Franchisee Login</a></li>
        <li><a class="text-muted" href="#">Term of Use</a></li>
        <li><a class="text-muted" href="#">Privacy Policy</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>NewsLetter</h5>
      <ul class="list-unstyled text-small">
        <li>
          <p class="text-muted">
            Sign up to receive the Fetch!
            <br />
            Family NewsLetter
          </p>
        </li>

        <li>
          <input type="email" class="input-pill" placeholder="Email Adress" />
        </li>
      </ul>
    </div>
  </div>
</footer>
