<main class="container h-75">
  <div class="row justify-content-between">
    <!-- TEXTO DE LA SECCIÓN (Lado izquierdo) -->
    <div class="col-md-5 p-5">
      <h3 class="orange-title">We Get Pet Care</h3>
      <p class="mt-5">
        National Brand With a Local Fell. Experience the Fetch! Difference
      </p>
      <h5 class="orange-sub-title my-4">
        Enter Your Location and Fetch Our Services
      </h5>
      <div class="text-left mt-4">
        <button type="submit" class="mt-4 btn-main">Schedule Service</button>
        <a class="font-white" href="#"> or Call 866.338.2463</a>
      </div>
    </div>
    <!-- Imagen perro -->
    <div class="col-md-6">
      <div class="img-pet"></div>
    </div>
  </div>
</main>
