<div class="container">
  <div class="card main-card p-5">
    <div class="row">
      <div class="col-md-6">
        <div class="img-pet"></div>

        <!-- <img src="../../../../assets/images/pets/funny-dog.png" alt="" /> -->
      </div>
      <div class="col-md-6">
        <h5>Make Fetch! Happen</h5>
        <p class="card-text mt-5">
          If you love pets and want exciting work, apply to be a Fetch! Pet Care
          Provider! We train every team member and provide ongoing support to
          help you get the most from your experience.
        </p>
        <a href="#" class="btn btn-primary mt-5">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
