<div class="container my-5 h-50">
  <div class="card main-card p-5">
    <div class="row">
      <!-- Imagen dog (izq) -->
      <div class="col-md-6">
        <div class="img-pet pet-url-img"></div>
      </div>
      <!-- Texto descriptivo (derecha) -->
      <div class="col-md-6">
        <h5 class="font-yellow">Make Fetch! Happen</h5>
        <p class="text-card font-white mt-5">
          If you love pets and want exciting work, apply to be a Fetch! Pet Care
          Provider! We train every team member and provide ongoing support to
          help you get the most from your experience.
        </p>
        <div class="text-left mt-4">
          <button class="mt-4 btn-white">Join Now</button>
        </div>
      </div>
    </div>
  </div>
</div>
