.text-card {
  font-size: 1.5rem;
}

.main-card {
  border-radius: 20px;
  background: #4487ff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;

  h5 {
    //font-family: "Comfortaa";
    font-weight: bold;
    font-size: 2rem;
  }
}

.img-pet::after {
  background: url("../../../../assets/images/pets/funny-dog-middle.png") center
    no-repeat;
}
