/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

//----------------------------------*\
// Fonts
//----------------------------------*/
@import "assets/app-styles/_fonts.scss";
// primary font
$primary_font: "Comfortaa";
$secondary_font: "Museo Sans Rounded 700";
$third_font: "Open Sans";
$fourth_font: "Gibson";
$fifth_font: "Segoe UI";

// font-weight
$thin: 100;
$light: 300;
$regular: 400;
$bold: 700;
$black: 900;
// Font size
$font-xs: 12px;
$font-sm: 14px;
$primary-fs: 16px;
$font-md: 18px;
$font-lg: 20px;

* {
  font-family: $third_font;
  font-size: $primary-fs;
  font-weight: $regular;
}

//----------------------------------*\
// Colors
//----------------------------------*/
@import "assets/app-styles/_colors.scss";
